.game {
    margin: 10px auto;
    width: 90%;
    height: 600px;
    display: grid;
    justify-content: stretch;
    align-items: stretch;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 768px) {
    .game {
        height: 300px;
        grid-gap: 10px;
    }
}
